[user]
	name = 
	email = 
[core]
	autocrlf =
	quotepath = false
	excludesfile = /Users/weizhao/.gitignore_global
[alias]
	st = status
	ci = commit
	br = branch
	co = checkout
	df = diff
        cl = clone
	ff = merge --ff-only origin
	di = diff -w -M
        reh = reset --hard
[color]
	ui = true
[push]
	default = current
[https]
	proxy = socks5://127.0.0.1:1080
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/weizhao/.stCommitMsg
