[user]
	name = weiz
	email = weiz@udesk.cn
[core]
	excludesfile = /Users/weizhao/.gitignore_global
	autocrlf = 
	quotepath = false
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[alias]
	st = status -s 
	ci = commit -v 
  	cia = commit -v -a -m 
	br = branch 
	df = diff 
  	cl = clone 
	mff = merge --ff-only 
	di = diff -w -M 
	reh = reset --hard 
	co = checkout 
	cp = cherry-pick 
	l = log 
	ll = log -p 
	lod = log --oneline --decorate 
	lgraph = log --oneline --decorate --graph 
	pullit = pull --rebase 
	ads = submodule add 
	rem = remote add origin 
	headless = !sh -c 'git symbolic-ref HEAD refs/heads/$0 && rm .git/index && git clean -fdx'
	unstash = stash branch
	untrack = update-index --assume-unchanged 
	retrack = update-index --no-assume-unchanged 
[color]
	ui = true
[push]
	default = current
[credential]
	helper = osxkeychain
[http]
#  proxy = socks5://127.0.0.1:1080
[https]
#   proxy = socks5://127.0.0.1:1080
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
